<meta name="description" content="<%= blogPost.getStructuredText('blog-post.lead-' + lang).asText() %>">
<!-- TODO: keywords for blog entries -->
<title><%= blogPost.getText('blog-post.title-' + lang) %></title>
