<section class="blog-preview">
    <h1>Blog</h1>
    <% for(var i = 0; i < 4; i++) { var act = blog[i]; if(!act) { break; } %>
    <a href="blog/<%= act.uid %>"><div>
        <h2><%= act.getText('blog-post.title-' + lang) %></h2>
        <p><%= act.getStructuredText('blog-post.lead-' + lang).asText() %></p>
    </div></a>
    <% } %>
</section>
