<meta name="description" content="<%= page.getGroup('page.description').toArray()[0].getText(lang) %>">
<meta name="keywords" content="<%= page.getGroup('page.keywords').toArray()[0].getText(lang) %>">
<title><%= page.getGroup('page.title').toArray()[0].getText(lang) %></title>
