<section class="press-releases">
    <h2><%= __('pressReleases') %></h2>
    <table>
        <tbody>
            <%
            var releases = slice.value.toArray();
            %>

            <%
            releases.forEach(function (release) {
            %>
            <tr>
                <td><a href="<%= release.getText('link-' + lang) %>"><%= release.getText('name-' + lang) %></a></td>
                <td><a href="<%= release.getText('link-' + lang) %>">Download</a></td>
            </tr>
            <%
            });
            %>

        </tbody>
    </table>
    <a href="https://drive.google.com/drive/folders/0B7ew1_pPZTgaUTI2emh4cm5DSWc?usp=sharing">Download Press Kit</a>
</section>
