<section class="traits">
    <%
    var traits = slice.value.toArray();
    %>

    <h2><%= traits[0].getText('heading-' + lang) %></h2>

    <%
    traits.forEach(function (trait) {
    %>
        <div>
            <div>
                <%- trait.getStructuredText('content-' + lang).asHtml() %>
            </div>
            <img src="<%= trait.getImage('icon').url %>" alt="<%= trait.getImage('icon').asText() %>">
        </div>
    <%
    });
    %>

</section>
