<section id="workflow" class="workflow">
    <h2><%= workflow.getText('onboarding-workflow.heading-' + lang) %></h2>
    <div class="workflow-container">
        <ul>
            <% for(var i = 1; i <= 5; i++) { %>
            <li>
            <%= workflow.getText('onboarding-workflow.step' + i + '-caption-' + lang) %>
            </li>
            <% } %>
        </ul>

        <img src="/assets/images/workflow.png">

        <ul>
            <% for(var i = 1; i <= 5; i++) { %>
                <li>
                <%= workflow.getText('onboarding-workflow.step' + i + '-text-' + lang) %>
                </li>
                <% } %>
        </ul>
    </div>
</section>
