/*
* Resets
*/

html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a, a:hover, a:active {
    text-decoration: underline;
    color: inherit;
}

/**
* Interaction elements
*/

input, select, button:not(.icon-button), textarea {
    box-shadow: none;
    border-radius: 3px;

    font-family: Lato;
}

input, select, textarea {
    padding: 11px 8px 11px 8px;

    border: 1px solid #ccc;

    background-color: white;

    font-size: .85rem;
}

textarea {
    resize: none;
}

input, select, button:not(.icon-button) {
    min-height: 34px;
    cursor: pointer;
}

button:not(.icon-button) {
    border: none;
}

button.icon-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

/*
* Typography
*/

html, body, svg {
    line-height: 1.43;
    font-size: 19px;
    font-family: Lato;
    font-weight: 300;
    color: #333328;
}

@media only screen and (min-width : 970px) {
    html, body {
        font-size: 17px;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-weight: 500;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    display: inline-block;
    font-size: .65em;
    color: #777;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.15em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .85em;
}

p {
    margin-bottom: 10px;
}

blockquote > p::before {
    content: '"';
}

blockquote > p::after {
    content: '"';
}

blockquote > footer::before {
    content: "- ";
}

blockquote > footer {
    font-size: .6em;
    color: rgba(0, 0, 0, .65);
}

/*
* Images
*/

img {
    vertical-align: middle;
}

img.circle {
    border-radius: 50%;
}

/*
* Navigation
*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    width: 100%;
    min-height: 60px;

    color: white;
    background-color: rgba(255, 255, 255, 1);

    border-bottom: 1px solid;
    border-color: rgba(0,0,0,0);

    z-index: 1;
}

nav > img {
    height: 50px;
}

nav > img, nav > button {
    margin: 10px;
}

nav .nav-container {
    flex-grow: 1;

    transition: opacity .3s ease-in;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #958ca0;

    opacity: 0;
    pointer-events: none;

    z-index: 2;
}

nav ul.nav-links {
    font-size: 1.7em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    list-style: none;

    margin: 0;
    padding: 0;
}

nav ul.nav-links li {
    position: relative;
}

nav .nav-container.shown {
    opacity: 1;
    pointer-events: all;;
}

nav .nav-container button {
    position: absolute;
    top: 10px;
    right: 10px;
}

nav ul.nav-links a {
    display: block;
    color: inherit;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}

nav ul.nav-links > li > ul {
    display: none;
}

@media only screen and (min-width : 970px) {
    nav {
        transition: background-color .3s ease-in, border-color .3s ease-in, min-height .3s ease-in;
        background-color: rgba(255, 255, 255, 0);
        min-height: 110px;
        color: black;
    }

    nav > img {
        height: 50px;
    }

    nav > img, nav > button {
        transition: opacity .2s ease-in;
        opacity: 0;
    }

    nav.scrolled {
        background-color: rgba(255,255,255,1);
        border-color: rgba(0,0,0,.2);
        min-height: 55px;
    }

    nav.scrolled > img, nav.scrolled > button {
        opacity: 1;
    }

    nav .nav-container {
        position: static;
        height: 100%;

        background-color: transparent;

        flex-direction: row;
        justify-content: flex-start;

        padding-right: 25px;

        opacity: 1;
        pointer-events: all;
    }

    nav ul.nav-links {
        flex-direction: row;
        justify-content: space-around;

        width: 650px;

        margin-left: auto;
        margin-right: 75px;

        font-size: .85em;
    }

    nav ul.nav-links > li > ul {
        display: block;

        position: absolute;
        margin: 0;
        padding: 15px 11px 24px 11px;
        min-width: 120px;

        list-style: none;

        opacity: 0;
        transition: opacity .2s ease-in;
        pointer-events: none;
    }

    nav.scrolled ul.nav-links > li > ul {
        background-color: white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    }

    nav ul.nav-links > li > ul > li {
        white-space: nowrap;
        display: inline-block;
        width: 100%;
    }

    nav ul.nav-links > li > ul > li + li {
        margin-top: 10px;
    }

    nav ul.nav-links > li:hover > ul {
        opacity: 1;
        pointer-events: all;
    }


    nav button {
        display: none;
    }
}

nav ul.nav-links > li:nth-child(4n) > a.active, nav ul.nav-links > li:nth-child(4n) > a:hover, nav ul.nav-links > li > ul > li:nth-child(4n) > a:hover {
    color: #ee754d;
}

nav ul.nav-links > li:nth-child(4n+1) > a.active, nav ul.nav-links > li:nth-child(4n+1) > a:hover, nav ul.nav-links > li > ul > li:nth-child(4n+1) > a:hover {
    color: #7ac6b8;
}

nav ul.nav-links > li:nth-child(4n+2) > a.active, nav ul.nav-links > li:nth-child(4n+2) > a:hover, nav ul.nav-links > li > ul > li:nth-child(4n+2) > a:hover {
    color: #f9b000;
}

nav ul.nav-links > li:nth-child(4n+3) > a.active, nav ul.nav-links > li:nth-child(4n+3) > a:hover, nav ul.nav-links > li > ul > li:nth-child(4n+3) > a:hover {
    color: #3dacbe;
}

nav .language-links {
    margin-top: 50px;

    font-size: 1.25em;
}

nav .language-links > a {
    color: inherit;

    text-decoration: none;

    text-transform: uppercase;
}

nav .language-links > a.active, nav > .language-links > a:hover {
    color: #f9b000;
}

@media only screen and (min-width : 970px) {
    nav .language-links {
        margin: 0;
        font-size: 1.1em;
    }
}

/*
* Content tube
*/

main section, header, body > footer {
    padding-right: 15px;
    padding-left: 15px;
}

@media only screen and (min-width : 970px) {
    main section, header, body > footer {
        padding-right: calc(50% - 485px);
        padding-left: calc(50% - 485px);
    }
}

/*
* Header
*/

header {
    position: relative;
}

header > div.container {
    margin-top: 200px;
    margin-bottom: 200px;

    padding: 15px 30px;

    color: white;
    background-color: rgba(64, 59, 89, .78);
    /*border-radius: 6px;*/
}

header button {
    display: block;
    width: 100%;

    padding: 15px 20px;

    font-size: .8em;
}

header {
    font-size: 24px;
    font-weight: 300;
}

@media only screen and (min-width : 970px) {
    header {
        font-size: 28px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    header button {
        width: auto;
        margin-left: auto;
    }
}

/*
* Dialog
*/

div.dialog {
    transition: opacity .3s ease-in;

    opacity: 0;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;

    background-color: rgba(0, 0, 0, .3);
}

div.dialog > div {
    width: 350px;

    background-color: white;
    color: black;

    box-shadow: 0px 3px 42px -2px rgba(0,0,0,0.75);
    border-radius: 7px;
}

div.dialog > div > h3 {
    background-color: #5f5772;
    color: white;
}

div.dialog > div > h3, div.dialog > div > p {
    margin: 0;
    padding: 15px 8px 15px 14px;
}

div.dialog.active {
    opacity: 1;
    pointer-events: all;
}

/*
* Footer
*/

body > footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 27px;
    padding-bottom: 27px;

    background-color: #444444;
    color: white;
    min-height: 55px;
}

body > footer * {
    white-space: nowrap;
}

body > footer > div > a, body > footer > div > div, body > footer > div > a:active, body > footer > div > a:hover {
    display: block;
    color: inherit;
    text-decoration: none;

    margin-top: 10px;
}

body > footer > img {
    width: 50%;
    align-self: center;
}

body > footer > img + img {
    margin: 10px;
}

@media only screen and (min-width : 970px) {
    body > footer {
        flex-direction: row;
    }

    body > footer > div + div {
        margin-left: 40px;
    }

    body > footer > img {
        align-self: center;

        width: 80px;
    }

    body > footer > img:not(:first-child) {
        margin-left: 40px;
    }

    body > footer > img:first-of-type:not(:first-child) {
        margin-left: auto;
    }
}

/*
* Content
*/

main {
    background-color: white;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;
    padding-bottom: 30px;
}

@media only screen and (min-width : 970px) {
    main section {
        flex-direction: row;

        padding-top: 45px;
        padding-bottom: 45px;
    }
}

main section:nth-child(even) {
    background-color: #e8e6eb; /* bcb7c4 */
}

section.img-text-pair, section.product {
    justify-content: flex-start;
    flex-wrap: nowrap;
}

section.img-text-pair img, section.product img {
    width: 100%;
    border-radius: 6px;
}

@media only screen and (min-width : 970px) {
    section.img-text-pair img, section.product img {
        width: auto;
        height: 300px;
        margin: 0px 50px;

        flex-direction: column;
    }

    section.img-text-pair:nth-child(odd), section.product:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

section.logos {
    padding-right: 45px;
    padding-left: 45px;
}

section.team, section.logos, section.contact-form {
    flex-wrap: wrap;
}

section.logos {
    justify-content: space-around;
}

section.logos > a, section.logos > img {
    display: block;
    width: 50%;
}

section.logos > a > img {
    width: 100%;
}

@media only screen and (min-width : 970px) {
    section.logos > a, section.logos > img {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        height: 85px;
        width: auto;
    }

    section.logos > a > img {
        height: 100%;
        width: auto;
    }
}

section.product > h2, section.gallery > h1, section.logos > h2, section.contact-form > h2, section.traits > h2 {
    text-align: center;

    margin-bottom: 25px;
    margin-top: 0;
}

@media only screen and (min-width : 970px) {
    section.product > h2, section.gallery > h1, section.logos > h2, section.contact-form > h2, section.traits > h2 {
        flex-basis: 100%;
    }
}

section.product {
    flex-wrap: wrap;
}

section.team {
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
}

div.person {
    text-align: center;
}

section.team > a, section.team > a:hover, section.team > a:active {
    display: block;
    text-decoration: none;
}

section.team > div, div.person, section.team > a {
    margin-top: 22px;
    font-size: .7em;
}

section.team > div, section.team > a {
    width: 50%;
}

section.team > input[type="checkbox"] {
    display: none;
}

section.team > input[type="checkbox"]:not(:checked) ~ label::before {
    content: 'Show More';
}

section.team > input[type="checkbox"]:checked ~ label::before {
    content: 'Show Less';
}

section.team > label {
    display: block;
    flex-basis: 100%;

    padding: 10px;
    margin-top: 15px;

    text-transform: uppercase;
    text-align: center;

    cursor: pointer;
}

section.team > input[type="checkbox"]:not(:checked) ~ div:nth-of-type(n+8) {
    display: none;
}

@media only screen and (min-width : 970px) {
    section.team > div, div.person, section.team > a {
        font-size: 1em;
    }

    section.team > div, section.team > a {
        width: 25%;
    }
}

section.team > h2 {
    flex-basis: 100%;
    margin-top: 0;
}

div.person > img, section.team > div > img, section.team > a > img {
    border-radius: 50%;
    width: 70%;
}

div.person > h4, section.team > div > h4, section.team > a > h4 {
    margin: 15px 0 0 0;
}

div.person > p, div.person > h4, section.team > div > p, section.team > div > h4, section.team > a > p, section.team > a > h4 {
    white-space: nowrap;
}

div.person > p, section.team > div > p, section.team > a > p {
    margin: 7px 0 0 0;
}

section.blog-preview {
    flex-direction: column;
}

section.blog-preview > h2 {
    margin-top: 0;
    text-align: center;
}

section.blog-preview img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media only screen and (min-width : 970px) {
    section.blog-preview > div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    section.blog-preview > div {
        margin-top: 70px;
    }

    section.blog-preview > div:nth-child(2n+1) {
        flex-direction: row-reverse;
    }

    section.blog-preview > div:nth-child(2n+1) > div {
        text-align: right;
    }

    section.blog-preview > div > div {
        width: 500px;
    }

    section.blog-preview > div > img {
        display: block;
        width: 300px;
        height: 200px;

        margin-left: 0;
        margin-right: 20px;
    }

    section.blog-preview > div:nth-child(2n+1) > img {
        margin-left: 20px;
        margin-right: 0;
    }

    section.blog-preview > div > div > h2 {
        margin-top: 0;
    }

    section.blog-preview > div > div > h2 > a {
        text-decoration: none;
    }
}

section.blog-post {
    display: block;
}

@media only screen and (min-width : 970px) {
    section.blog-post {
        font-size: 1.15em;

        padding-right: calc(50% - 320px);
        padding-left: calc(50% - 320px);
    }
}

section.blog-post img {
    width: 100%;
}

section.blog-post figure {
    margin: 40px 0px;
}

section.blog-post figure figcaption {
    color: #858483;
    font-size: .8em;
}

section.blog-post figure figcaption > :first-child {
    margin-top:5px;
}

.blog-lead {
    font-size: 1.15em;
    font-weight: 400;
}

section.workflow {
    display: block;
}

section.workflow > h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

section.workflow > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section.workflow > ul > li {
    display: block;
}

section.workflow > ul > li > :first-child {
    margin-top: 0;
}

section.workflow > ul > li > :last-child {
    margin-bottom: 0;
}

section.workflow > ul > li {
    text-align: left;
}

section.workflow > ul > li > hr {
    display: none;
}

@media only screen and (min-width : 970px) {
    section.workflow > ul > li {
        position: relative;
    }

    section.workflow > ul > li:nth-of-type(2) {
        top: -45px;
    }

    section.workflow > ul > li:nth-of-type(3) {
        top: -90px;
    }

    section.workflow > ul > li:nth-of-type(4) {
        top: -135px;
    }

    section.workflow > ul > li:nth-of-type(5) {
        top: -180px;
    }

    section.workflow > ul > li:nth-of-type(6) {
        top: -225px;
    }

    section.workflow > ul > li > hr {
        display: block;
        margin: 0;
        padding: 0;
    }

    section.workflow > ul > li:nth-child(2n+1) {
        text-align: right;
        margin-right: calc(50% - 4px);
        padding-right: 30px;
        border-right: 8px dotted black;
    }

    section.workflow > ul > li:nth-child(2n+1) > hr {
        margin-left: 45%;
        margin-right: -16px;
    }

    section.workflow > ul > li:nth-child(2n) {
        margin-left: calc(50% - 4px);
        padding-left: 30px;
        border-left: 8px dotted black;
    }

    section.workflow > ul > li:nth-child(2n) > hr {
        margin-right: 45%;
        margin-left: -16px;
    }
}

section.success-stories {
    display: block;
    position: relative;
}

section.success-stories > h2 {
    text-align: center;
    margin-top: 0;
}

section.success-stories > div {
    display: none;
}

section.success-stories > div.shown {
    display: flex;

    align-items: center;
    justify-content: flex-start;

    animation: fadeInFromNone .5s ease-in;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

section.success-stories > img {
    display: none;
}

@media only screen and (min-width : 970px) {
    section.success-stories > img {
        display: block;
        position: absolute;
        top: 50%;
        height: 25px;
        cursor: pointer;
    }

    section.success-stories > img:nth-of-type(1) {
        left: 40px;
    }

    section.success-stories > img:nth-of-type(2) {
        right: 40px;
    }

    section.success-stories > div > img {
        width: 27%;
        object-fit: contain;
    }

    section.success-stories > div > div {
        margin-left: 35px;
    }

    section.success-stories > div > div > img {
        height: 50px;
    }

    section.success-stories > div > div > blockquote {
        font-size: 1.5em;
        margin: 0;
    }
}

section.contact-form > form > label {
    margin-top: 10px;
    display: block;
    width: 100%;
}

section.contact-form > form > label > input, section.contact-form > form > label > select, section.contact-form > form > label > textarea {
    display: block;
    width: 100%;
}

section.contact-form > form button, header button {
    min-height: 55px;

    background-color: #7ac6b8;
    vertical-align: middle;
    font-weight: 400;
}

section.contact-form > form button {
    font-size: 1.2em;
}

section.contact-form > form button {
    margin-top: 50px;
    width: 100%;
}

section.contact-form > form {
    width: 100%;
}

@media only screen and (min-width : 970px) {
    section.contact-form {
        align-items: flex-start;
    }

    section.contact-form > div.person {
        width: 33%;
        align-self: center;
    }

    section.contact-form > form {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;

        width: 66%;
    }

    section.contact-form > form > label {
        width: 45%;
    }

    section.contact-form > form > label.full-width {
        width: 100%;
    }
}


section.traits > div {
    text-align: center;
    margin-top: 47px;
}

section.traits > div > img {
    width: 50%;
    margin-bottom: 22px;
}

@media only screen and (min-width : 970px) {
    section.traits {
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    section.traits > div {
        width: 30%;
    }
}

/*
* Anchor Offset
**/

/*:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -500px 0 0;
}*/
